Repository GSA/notifications-admin, pull requests merged in 2024-10, with the labels that each got.

#1975 Fix cf_command argument for deploy tool
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#1990 Remove E2E env vars from deploy
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#1991 Remove an extra Login.gov environment variable
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#1993 Update cg-egress-proxy installation
  .github/actions/deploy-proxy/action.yml
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#1995 Add one more potentially missing step
  .github/actions/deploy-proxy/action.yml
Labels: engineering, github_actions

#1992 Switch out deprecated tools in demo/prod deploy scripts
  .github/workflows/deploy-demo.yml
  .github/workflows/deploy-prod.yml
Labels: engineering, github_actions

#1978 1971 - BUG - There were two main content skip links
  app/templates/components/components/skip-link/template.njk
Labels: bug, a11y

#1997 Add missing environment veriables to egress deploy action
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#2013 Add missing inputs to egress proxy deploy action
  .github/actions/deploy-proxy/action.yml
Labels: engineering, github_actions

#2014 Swap out config variables for env variables
  .github/actions/deploy-proxy/action.yml
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#2016 Use the correct environment variable names
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#2026 10/16/24 production deploy
  .ds.baseline
  .github/actions/deploy-proxy/action.yml
  .github/workflows/checks.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
  .gitignore
  .prettierrc
  README.md
  app/assets/error_pages/5xx.html
  app/content/get-started.md
  app/main/views/index.py
  app/main/views/send.py
  app/main/views/sign_in.py
  app/models/user.py
  app/s3_client/__init__.py
  app/s3_client/s3_csv_client.py
  app/templates/components/components/skip-link/template.njk
  app/templates/partials/jobs/status.html
  app/templates/views/trial-mode.html
  app/utils/time.py
  backstop.config.js
  backstop_data/bitmaps_reference/backstop_test_Add_Service_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Choose_Service_-_Accounts_0_h1heading-large_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Choose_Service_-_Accounts_1_ausa-buttonhrefadd-service_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Delivery_Status_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Features_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Get_Started_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Get_Started_Page_-_Highlight_Trial_Mode_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Guidance_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Homepage_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Pricing_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Roadmap_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Security_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Support_0_document_0_desktop.png
  backstop_data/bitmaps_reference/backstop_test_Trial_Mode_0_document_0_desktop.png
  backstop_data/engine_scripts/puppeteer/countFeatureLinks.js
  docs/backstop.md
  docs/notify-pilot-info.md
  gulpfile.js
  manifest.yml
  notifications_utils/s3.py
  package-lock.json
  package.json
  poetry.lock
  print_vcap.sh
  pyproject.toml
  sample.env
  tests/app/main/views/organizations/test_organizations.py
  tests/app/utils/test_time.py
  tests/end_to_end/conftest.py
  tests/end_to_end/test_accounts_page.py
  tests/end_to_end/test_create_new_template.py
  tests/end_to_end/test_invite_team_member_to_service.py
  tests/end_to_end/test_send_message_from_existing_template.py
  urls.js
Labels: engineering

#2027 Fix the prod and demo deployment actions
  .github/workflows/deploy-demo.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
Labels: engineering, github_actions

#2030 Fix demo and prod deploy actions
  .github/workflows/deploy-demo.yml
  .github/workflows/deploy-prod.yml
Labels: engineering, github_actions

#2031 10-16-2024 Production Hot Fix
  .github/workflows/deploy-demo.yml
  .github/workflows/deploy-prod.yml
Labels: engineering, github_actions

#2012 1999 dashboard a11y fixes
  app/assets/javascripts/activityChart.js
  app/templates/base.html
  app/templates/views/activity/all-activity.html
  app/templates/views/dashboard/dashboard.html
  tests/javascripts/activityChart.test.js
  tests/javascripts/timeoutPopup.test.js
Labels: engineering, UI/UX, javascript, a11y
